/*1200px to 1450px*/
@media only screen and (max-width: 1450px)
{   
    /*      HEADER      */
    .hero-text-box{
        position: absolute;
        padding: 0 6%;
        left: 0;
        width: 100%;
    }

    .hero-text {
        position: relative;
        z-index: 0;
        width: 100%;
        display: none;
    }
    
    h1{
        font-size: 190%;
    }
    
}
/* Big tablet to 1200: 1023px to 1200px*/
@media only screen and (max-width: 1200px)
{
     
}


/* Small tablet to big tablet: 768 to 1023px */
@media only screen and (max-width: 1023px)
{
    
    html{
        font-size: 15px;
    }
    
    .section{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    
    
    /*      HEADER      */
    
    
    h1{
        font-size: 180%;
    }
    .hero-text-box{
        padding: 0 10%;
    }
    
    /*      P2      */
    
    
    .main-form{
        width: 80%;
        left: 10%;
    }
    
}


/* Small phones to small tablets: from 481 to 767 */
@media only screen and (max-width: 767px)
{

    html{
        font-size: 14px;
    }
    h1{
        font-size: 165%;
    }
    h2{
        font-size: 140%;
        margin-bottom: 0px;
    }
    .section{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .col{
        width: 99%;
        margin-bottom: 7.5px;
    }
    .logo{
        margin-top: 20px;
        height: 50px;
        width: auto;
        float: left;
    }
    .main-nav li{
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .main-nav{
        margin-top: 25px;
    }
    .submitButton{
        width: 30%;
    }
    
    /*      HEADER      */
    
    .banners{
        background-position: center;
        background-attachment: scroll;
    }
    header{
        height: 60vh;
        min-height: 570px;
    }
    .banner-container{
        height: 60vh;
        min-height: 570px;
    }
    header .btn:link,
    header .btn:active{
        margin: 20px auto;
        position: relative;
    }
    
    
     
    header .btn-ghost:active,
    header .btn-ghost:link{
        margin-right: 20px;
     }
    .prev, .next {
        top: 40%;
    }
    .dots{
        margin-top: -50px;
    }
    
    .hero-text-box{
        top:60%;
        padding: 0 3%;
    }
    
    .prev,
    .next{
        display: none;
        
    }
    
    /*      P1      */
    
    
    .p1 input{
        border-radius: 5px;
        padding: 5px;
    }
    .span-2-of-3{
        margin-left: 0;
    }
    .span-2-of-3 input{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /*      P2      */
    
    .p2 h3{
        font-size: 120%;
    }
    .p2 .row:nth-of-type(2) .col:nth-of-type(1){
        margin-top: 0;
        font-size: 105%;
    }
    .p2 select{
        width: 50%;
    }
    
    
    .p2 .row .span-1-of-3{
        text-align: center;
    }
    
    /*      P3      */
    
    .p3 select{
        width: 50%;
    }
    .p3 h3{
        margin-bottom: 15px;
    }
    
    .p3 label{
        margin-top: 10px;
        font-size: 105%;
    }
    
    .p3 .row:nth-of-type(2),
    .p3 .row:nth-of-type(4){
        width: 80%;
        text-align: center;
        margin-bottom: 10px;
    }
    
    
    .p3 input[type=text]{
        margin-bottom: 10px;
    }
    /*      FOOTER      */
    
    
    footer{
        padding: 25px 15px;
    }
    footer .col{
        margin-right: 0;
    }
    footer .col:first-child{
        width: 60%;
    }
    footer .col:last-child{
        width: 38%;
    }
    
    .footer-nav li{
        margin-right: 10px;
    }
}


/*Small phones from 0 to 480px*/
@media only screen and (max-width: 480px)
{
    html{
        font-size: 13px;
    }
    .section{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .submitButton{
        margin-top: 10px;
        width: 40%;
    }
    .main-nav{
        display: none;
    }
    
    .mobile-nav-icon{
        display: inline-block;
    }
    .main-nav{
        float: left;
        margin-top: 25px;
        margin-left: 25px;
    }
    .main-nav li{
        display: block;
        padding: 5px 0;
        margin: 0;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0; 
        font-size: 100%;
    }

    .sticky-nav .main-nav{
        margin-top: 10px;
    }
    
    .sticky-nav .main-nav li a:link,
    .sticky-nav .main-nav li a:visited{
        padding: 10px 0;
    }
    
    .sticky-nav .mobile-nav-icon {margin: 10px 10px;}
    .sticky-nav .mobile-nav-icon i {color: #555;}

    
    /*      HEADER      */
    
    
    
    header .btn-full:active,
    header .btn-full:link{
        margin-left: 0;
    }
    .hero-text-box{
        top:60%;
        padding: 0 3%;
    }
    header .btn:link,
    header .btn:active{
        width: 120px;
        padding: 10px 10px;
    }
    
    /*      P1      */   
    .p1 .span-1-of-3{
        text-align: center;
    }
    .p1 .span-2-of-3 input{
        text-align: center;
    }
    
    
    /*      P2      */   
    
    .p2 select{
        width: 60%;
    }
    
    /*      P3      */ 
    
    .p3 select{
        width: 60%;
    }
    .p3 .softwares3{
        margin-bottom: 10px;
    }
    
    
    /*      FOOTER      */   
    
    
    
    footer .col:first-child{
        width: 100%;
    }
    footer .col:last-child{
        margin-top: 20px;
        width: 100%;
    }
    
    .footer-nav{
        float: none;
        text-align: center;
    }
    .social-icons{
        text-align: center;
        float: none;
    }
}
