/*1200px to 1450px*/
@media only screen and (max-width: 1450px)
{   
    /*      HEADER      */
    .hero-text-box{
        position: absolute;
        padding: 0 6%;
        left: 0;
        width: 100%;
    }

    .hero-text {
        position: relative;
        z-index: 0;
        width: 100%;
        display: none;
    }
    
    h1{
        font-size: 190%;
    }
    
}
/* Big tablet to 1200: 1023px to 1200px*/
@media only screen and (max-width: 1200px)
{
    .section-faq .row{
        width: 80%;
    } 
}


/* Small tablet to big tablet: 768 to 1023px */
@media only screen and (max-width: 1023px)
{
    
    html{
        font-size: 13px;
    }
    
    .section{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    
    /*      HEADER      */
    
    
    h1{
        font-size: 180%;
    }
    .hero-text-box{
        padding: 0 10%;
    }
    
    
    /*      FAQ      */
    
    .section-faq{
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .section-faq .faq-answer{
        padding-left: 25px;
        padding-right: 25px;
    }
    
    
    
    /*      CONTACT      */
    
    
    .contact-form{
        width: 80%;
        margin: 25px auto 0 auto;
    }
}


/* Small phones to small tablets: from 481 to 767 */
@media only screen and (max-width: 767px)
{

    html{
        font-size: 13px;
    }
    h1{
        font-size: 185%;
    }
    .section{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .col{
        width: 99%;
    }
    .logo{
        margin-top: 20px;
        height: 50px;
        width: auto;
        float: left;
    }
    .main-nav li{
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .main-nav{
        margin-top: 25px;
    }
    
    /*      HEADER      */
    
    .banners{
        background-position: center;
        background-attachment: scroll;
    }
    header{
        height: 60vh;
        min-height: 570px;
    }
    .banner-container{
        height: 60vh;
        min-height: 570px;
    }
    header .btn:link,
    header .btn:active{
        margin: 20px auto;
        position: relative;
    }
   
    header .btn-ghost:active,
    header .btn-ghost:link{
        margin-right: 20px;
    }
    .prev, .next {
        top: 40%;
    }
    .dots{
        margin-top: -50px;
    }
    
    .hero-text-box{
        top:60%;
        padding: 0 3%;
    }
    
    
    .prev,
    .next{
        display: none;
        
    }
    
    /*      FACILITIES      */
    .section-facilities h3{
        font-size: 135%;
    }
    .section-facilities p{
        font-size: 115%;
    }
    
    /*      FAQ      */
    
    .section-faq{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .section-faq .faq-question{
        font-size: 120%;
    }
    .section-faq .faq-answer{
        font-size: 108%;
    }
    
    .section-faq .row{
        width: 90%;
    }
    
    
    /*      CONTACT      */
    
    
    
    .section-contact .row{
        margin: 10px auto;
    }
    
    .section-contact hr{
        margin-bottom: 10px
    }
    .section-contact .row:nth-of-type(2) .row{
        margin-top: 0;
    }
    
    .section-contact .contact-form{
        margin-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        width: 90%;
    }
    .section-contact{
        padding: 0 10px;
    }
    .blank{
        display: none;
    }
    
    input[type=submit]{
        margin: 10px auto;
    }
    
    .section-contact .span-2-of-3{
        text-align: center;
    }
    
    /*      FOOTER      */
    
    
    footer{
        padding: 25px 15px;
    }
    footer .col{
        margin-right: 0;
    }
    footer .col:first-child{
        width: 60%;
    }
    footer .col:last-child{
        width: 38%;
    }
    
    .footer-nav li{
        margin-right: 10px;
    }
}


/*Small phones from 0 to 480px*/
@media only screen and (max-width: 480px)
{
    html{
        font-size: 13px;
    }
    .section{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .main-nav{
        display: none;
    }
    
    .mobile-nav-icon{
        display: inline-block;
    }
    .main-nav{
        float: left;
        margin-top: 25px;
        margin-left: 25px;
    }
    .main-nav li{
        display: block;
        padding: 5px 0;
        margin: 0;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0; 
        font-size: 100%;
    }

    .sticky-nav .main-nav{
        margin-top: 10px;
    }
    
    .sticky-nav .main-nav li a:link,
    .sticky-nav .main-nav li a:visited{
        padding: 10px 0;
    }
    
    .sticky-nav .mobile-nav-icon {margin: 10px 10px;}
    .sticky-nav .mobile-nav-icon i {color: #555;}

    
    /*      HEADER      */
    
    
    
    header .btn-full:active,
    header .btn-full:link{
        margin-left: 0;
    }
    .hero-text-box{
        top:60%;
        padding: 0 3%;
    }
    header .btn:link,
    header .btn:active{
        width: 120px;
        padding: 10px 10px;
    }
    
    /*      FACILITIES      */
    
    .section-facilities h3{
        font-size: 150%;
    }
    .section-facilities p{
        font-size: 120%;
    }
    
    .section-facilities .col{
        width: 90%;
        left: 5%;
    }
    
    /*      FAQ      */
    
    .section-faq .row{
        width: 90%;
    }
    .section-faq{
        padding: 40px 0 30px 0;
    }
    
    .section-faq .faq-question{
        font-size: 125%;
    }
    .section-faq .faq-answer{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 112%;
    }
    
    /*      CONTACT      */
    
    .section-contact .span-2-of-3{
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .section-contact .span-1-of-3{
        text-align: center;
    }
    .contact-form label{
        font-size: 110%;
    }
    
    
    
    /*      FOOTER      */   
    
    
    
    footer .col:first-child{
        width: 100%;
    }
    footer .col:last-child{
        margin-top: 20px;
        width: 100%;
    }
    
    .footer-nav{
        float: none;
        text-align: center;
    }
    .social-icons{
        text-align: center;
        float: none;
    }
}
