/*1200px to 1450px*/
@media only screen and (max-width: 1450px)
{   
    .hero-text-box{
        position: absolute;
        padding: 0 6%;
        left: 0;
        width: 100%;
    }

    .hero-text {
        position: relative;
        z-index: 0;
        width: 100%;
        display: none;
    }
    
    h1{
        font-size: 190%;
    }
    
    .section-why-us p{
        width: 70%;
        margin-left: 15%;
    }
    
}
/* Big tablet to 1200: 1023px to 1200px*/
@media only screen and (max-width: 1200px)
{
    .section-why-us p{
        width: 70%;
        margin-left: 15%;
    }
}


/* Small tablet to big tablet: 768 to 1023px */
@media only screen and (max-width: 1023px)
{
    h1{
        font-size: 200%;
    }
    .hero-text-box{
        padding: 0 10%;
    }
    html{
        font-size: 16px;
    }
    .section-mission{
        padding: 0 50px;
    }
    
    .section-why-us p{
        width: 80%;
        margin-left: 10%;
    }
    
    .section-facilities .col:first-child p:before,
    .section-facilities .col:nth-child(3) p:before{
        content: "&#10";
        display: block;
        color: white;    
    }
    .section-facilities .col:first-child{
    padding-left: 10px
    }
    .section-facilities .col:last-child{
        padding-right: 10px;
    }
    .section-facilities h3{
        font-size: 135%;
    }
    .contact-form{
        width: 80%;
        margin: 25px auto 0 auto;
    }
    /*Change all margin top*/
    .section{
        margin-top: 50px;
        margin-bottom: 40px;
    }
}


/* Small phones to small tablets: from 481 to 767 */
@media only screen and (max-width: 767px)
{

    html{
        font-size: 14px;
    }
    .logo{
        margin-top: 20px;
        height: 50px;
        width: auto;
        float: left;
    }
    .main-nav li{
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .main-nav{
        margin-top: 25px;
    }
    .banners{
        background-position: center;
        background-attachment: scroll;
    }
    header{
        height: 60vh;
        min-height: 570px;
    }
    .banner-container{
        height: 60vh;
        min-height: 570px;
    }
    header .btn:link,
    header .btn:active{
        margin: 20px auto;
        position: relative;
    }
    
    header .btn-full:active,
    header .btn-full:link{
        margin-left: 17%;
    }
     
    header .btn-ghost:active,
    header .btn-ghost:link{
    }
    .prev, .next {
        top: 40%;
    }
    .dots{
        margin-top: -50px;
    }
    
    h1{
        font-size: 130%;
    }
    .col{
        width: 99%;
    }
    .hero-text-box{
        top:60%;
        padding: 0 3%;
    }
    .section-why-us p{
        width: 90%;
        margin: auto auto;
    }
    
    .section-facilities .col:first-child p:before,
    .section-facilities .col:nth-child(3) p:before{
        display: none;
    }
    
    .section-facilities .col{
        width: 80%;
        margin-left: 10%;
    }
    
    .section-facilities h3,
    .section-facilities i{
        text-align: center;
    }
    
    .section-testimonials{
        min-height: 860px;
        margin: auto 0;
        height: auto;
    }
    .section-testimonials .col{
	   width: 100%;
       display: block;
    }
    .section-testimonials .col:first-child{
	   margin-left: 1.6%;
    }
    
    blockquote:before{
        content: "\201C";
        position: absolute;
        display: block;
        top: -40%;
        left: 3px;
        font-size: 500%;
        line-height: 145%;
    }
    
    blockquote{
        display: block;
        width: 100%;
    }
    
    .showcase li{
        width: 50%;
    } 
    .section-contact .row{
        margin: 10px auto;
    }
    .section-contact{
        padding: 0 10px;
    }
    .blank{
        display: none;
    }
    
    input[type=submit]{
        margin: 10px auto;
    }
    
    .section-contact .span-2-of-3{
        text-align: center;
    }
    footer{
        padding: 25px 15px;
    }
    footer .col{
        margin-right: 0;
    }
    footer .col:first-child{
        width: 60%;
    }
    footer .col:last-child{
        width: 38%;
    }
    
    .footer-nav li{
        margin-right: 10px;
    }
    .section{
        margin-top: 40px;
        margin-bottom: 30px;
    }
}


/*Small phones from 0 to 480px*/
@media only screen and (max-width: 480px)
{
    html{
        font-size: 14px;
    }
    .main-nav{
        display: none;
    }
    
    .mobile-nav-icon{
        display: inline-block;
    }
    .main-nav{
        float: left;
        margin-top: 25px;
        margin-left: 25px;
    }
    .main-nav li{
        display: block;
        padding: 5px 0;
        margin: 0;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0; 
        font-size: 100%;
    }

    .sticky-nav .main-nav{
        margin-top: 10px;
    }
    
    .sticky-nav .main-nav li a:link,
    .sticky-nav .main-nav li a:visited{
        padding: 10px 0;
    }
    
    .sticky-nav .mobile-nav-icon {margin: 10px 10px;}
    .sticky-nav .mobile-nav-icon i {color: #555;}

    
    
    header .btn-full:active,
    header .btn-full:link{
        margin-left: 0;
    }
    .hero-text-box{
        top:60%;
        padding: 0 3%;
        text-align: center;
    }
    header .btn:link,
    header .btn:active{
        width: 120px;
        padding: 10px 10px;
    }
    .section-contact .span-2-of-3{
        margin-top: 15px;
        margin-bottom: 5px;
    }
    
    footer .col:first-child{
        width: 100%;
    }
    footer .col:last-child{
        width: 100%;
    }
    
    .footer-nav{
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .social-icons{
        text-align: center;
        float: none;
        margin-bottom: 15px;
    }
    .section{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .section-why-us{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .showcase li{
        width: 50%;
    }
    
    
}