/*  BASE COLOUR: #1b9cfc  */
/*  BASE COLOUR-DARK: #0379d0  */

/*----------------------------------*/
/*  BASIC SETUP */
/*----------------------------------*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    background-color: #fff;
    color: #333;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

p{
    font-weight: 300;
}

/*----------------------------------*/
/*  REUSABLE COMPONENTS */
/*----------------------------------*/



.row{
    max-width: 1024px;
    margin: 0 auto;
}



/*----------------------------------*/
/*  HEADINGS */
/*----------------------------------*/


h1{
    margin: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h2{
    text-align: center;
    font-weight: 300;
    font-size: 180%;
    margin: 10px 5%;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
}

h3{
    font-weight: 300;
    font-size: 130%;
    text-align: center;
}


/*----------------------------------*/
/*  HEADER */
/*----------------------------------*/




header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/banner-1.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    
}


.hero-text-box{
    position: absolute;
    width 1140px;
    margin-left: 25px;
    top: 45%;
    left: 12%;
}



/*----------------------------------*/
/*  BUTTONS */
/*----------------------------------*/


.btn:visited,
.btn:link{
    display: inline-block;
    margin: 20px 40px 0 0px;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    border-radius: 200px;
    border: 1px solid #1B9CFC;
    transition: border 0.3s, background-color 0.3s;
    
}


.btn-full:link,
.btn-full:visited{
    background-color: #1B9CFC;
    
}


.btn-full:hover,
.btn-full:active{
    background-color: #0379d0;
    border: 1px solid #0379d0;
}


.btn-ghost:hover,
.btn-ghost:active{
    color: #fff;
    background-color: #0379d0;
    border: 1px solid #0379d0;
    
}

.btn-learn:link,
.btn-learn:visited
{
    display: inline-block;
    color: #0379d0;
    margin: 0;
}


.btn-learn:hover,
.btn-learn:active
{
    color: #fff;
}







/*----------------------------------*/
/*  MAIN-NAVIGATION */
/*----------------------------------*/




.logo{
    margin-top: 20px;
    height: 100px;
    width: auto;
    float: left;
}


.main-nav{
    float: right;
    list-style: none;
    margin-top: 33px;
    margin-right: 20px;
}
.main-nav li{
    display: inline-block;
    margin: 15px 0 0 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}


.main-nav li a:hover,
.main-nav li a:active{
    
    border-bottom: 2px solid #1B9CFC;
}




/*----------------------------------*/
/*  MISSION */
/*----------------------------------*/




.section-mission{
    margin: 80px auto 65px 0;
    text-align: center;
}

.section-mission h3{
    line-height: 145%;
    font-size: 140%;
}


/*----------------------------------*/
/*  WHY US */
/*----------------------------------*/

.section-why-us{
    padding: 50px 0 80px 0;
    background-color: #fcfcfc;
}

.section-why-us row{
    width: 100%;
}

.section-why-us h3{
    margin: 0 5% 20px 5%;
    font-weight: 300;
}

hr{
    border: 0;
    width: 20%;
    height: 2px;
    margin: 0 auto 25px auto;
    background-image: linear-gradient(to right, rgb(27, 156, 252, 0), rgb(27, 156, 252, 0.75), rgb(27, 156, 252, 0));
}

.section-why-us p{
    font-size: 110%;
    line-height: 145%;
    width: 50%;
    margin-left: 25%;
}



/*----------------------------------*/
/*  PHOTO GRID */
/*----------------------------------*/

.section-grid{
    padding: 0;
    height: auto;
    overflow: auto;
}
.showcase{
    list-style: none;
    width: 100%;
}

.showcase li{
    display: block;
    float: left;
    width: 25%;
}

.showcase-photo{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}


.showcase-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}



.showcase-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}





/*----------------------------------*/
/*  FACILITIES */
/*----------------------------------*/


.section-facilities{
    margin: 80px auto 0 auto;
}

.section-facilities div{
    padding: 5px;
}

.section-facilities hr{
    margin-top: 20px;
}

.section-facilities h3{
    text-align: left;
    font-size: 118%;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 1.15;
}

.section-facilities p{
    line-height: 145%;
    word-spacing: 2px;
}


.learn-more{
    font-size: 130%;
    font-weight: 300;
    text-align: center;
    word-spacing: 2px;
    padding-bottom: 0;
}

.learn-row{
    margin: 25px auto 80px auto;
    text-align: center;
}


/*----------------------------------*/
/*  ICONS */
/*----------------------------------*/

.icon-big{
    font-size: 350%;
    display: block;
    color: #1b9cfc;
    margin-bottom: 10px;
}