/*  BASE COLOUR: #1b9cfc  */
/*  BASE COLOUR-DARK: #0379d0  */
/*  BASE COLOUR-LIGHT: #90cffe  */


/*----------------------------------*/
/*  BASIC SETUP */
/*----------------------------------*/


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html{
    background-color: #fff;
    color: #333;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    word-spacing: 2px;
    line-height: 1.3;
}

p{
    font-weight: 300;
}

*:focus {
    outline: none;
}

/*----------------------------------*/
/*  REUSABLE COMPONENTS */
/*----------------------------------*/



.row{
    max-width: 1024px;
    margin: 0 auto;
}

.section{
    margin-top: 70px;
    margin-bottom: 60px;
}

hr{
    border: 0;
    width: 30%;
    height: 2px;
    margin: 20px auto 25px auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(27, 156, 252, 0)), color-stop(rgb(27, 156, 252, 0.75)), to(rgb(27, 156, 252, 0)));
    background-image: linear-gradient(to right, rgb(27, 156, 252, 0), rgb(27, 156, 252, 0.75), rgb(27, 156, 252, 0));
}

/*----------------------------------*/
/*  HEADINGS */
/*----------------------------------*/


h1{
    margin: 0;
    color: #fff;
    font-size: 190%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h2{
    text-align: center;
    font-weight: 300;
    font-size: 180%;
    margin: 10px 5%;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
}

h3{
    font-weight: 300;
    font-size: 130%;
    text-align: center;
}


/*----------------------------------*/
/*  HEADER */
/*----------------------------------*/


header{
    height: 40vh;
    position: relative;
    background-color: #000;
}

.hero-text-box{
    position: absolute;
    width 1240px;
    top: 45%;
    left: 25%;
}

.hero-text {
    position: relative;
    z-index: 0;
    width: 100%;
    display: none; 
}

.banner-container{
    height: 40vh;
}


header nav{
    position: relative;
    z-index: 100;
    height: 0px;
    overflow-y: visible;
    opacity: 1;
}

.banners{
    background-attachment: fixed;
    background-position: center -350px;
    width: 100%;
    height: 100%;
}

header h3{
    margin-bottom: 40px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 300%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
    opacity: 0;
}

.test{
  position: absolute;
  top: 0%;
  color: white;
  font-size: 300%;
  border-radius: 0 3px 3px 0;

}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    opacity: 0.8;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #90cffe;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.dots{
    text-align: center;
    margin-top: -100px;
    position: relative; 
    z-index: 90;
    background-color: rgba(0, 0, 0, 0);
}

.active, .dot:hover {
  background-color: #0379d0;
}

header  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1 }
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1 }
}


/*----------------------------------*/
/*  BUTTONS */
/*----------------------------------*/


.btn:visited,
.btn:link{
    display: inline-block;
    margin: 20px 40px 0 0px;
    padding: 10px 22px;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #1B9CFC;
    text-align: center;
    -webkit-transition: border 0.3s, background-color 0.3s, color 0.3s;
    transition: border 0.3s, background-color 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #1B9CFC;
    
}


.btn-full:hover,
.btn-full:active{
    color: #fff;
    background-color: #0379d0;
    border: 1px solid #0379d0;
}


.btn-ghost:hover,
.btn-ghost:active{
    width: 1000%;
}







/*----------------------------------*/
/*  MAIN-NAVIGATION */
/*----------------------------------*/

.logo{
    margin-top: 20px;
    margin-left: 20px;
    height: 65px;
    width: auto;
    float: left;
}

.logo:hover{
  -webkit-animation-name: fade2;
  -webkit-animation-duration: 0.6s;
  animation-name: fade2;
  animation-duration: 0.6s;
}
@-webkit-keyframes fade2 {
  from {height: 65px;} 
    25% {height: 75px;}
    50% {height: 70px;}
    75% {height: 75px;}
  to {height: 65px;}
}
@keyframes fade2 {
  from {height: 65px;} 
    25% {height: 75px;}
    50% {height: 70px;}
    75% {height: 75px;}
  to {height: 65px;}
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 33px;
    margin-right: 20px;
}
.main-nav li{
    display: inline-block;
    margin: 15px 0 0 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}


.main-nav li a:hover,
.main-nav li a:active{
    
    border-bottom: 2px solid #1B9CFC;
}

/*Mobile nav*/
.mobile-nav-icon{
    float: right;
    margin: 30px;
    cursor: pointer;
    display: none;
}
.mobile-nav-icon i{
    font-size: 280%;
    color: white;
}



.sticky-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255,0.98);
    height: auto;
    box-shadow: 0 2px 2px #efefef;
    transition: 0.75s ease-in-out;
    z-index: 100;
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited{
    color: #555;
    padding: 16px 0;
}

.logo-black{
    margin: 10px 10px;
    height: 50px;
    width: auto;
    float: left;
    display: none;
}

.sticky-nav .logo-black{
    display: block;
}
.sticky-nav .logo{
    display: none;
}

.sticky-nav .main-nav{
    padding-top: 0;
    margin-top: 23px;
}

.sticky-nav .main-nav li{
    margin-top: 0;
}


.ion-ios-close{
    margin-right: 8px;
}



/*----------------------------------*/
/*  PROGRESS BAR  */
/*----------------------------------*/


.section-progress-bar .container .progress {
  margin: 0 auto;
  width: 50%;
  padding: 3px;
  border: 1px solid #c4c4c4;
    border-radius: 400px;
}

.progress-bar {
  height: 15px;
  border-radius: 400px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #90CFFE;
}

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #61B2EF;
}

#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #3296DF;
}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #0379D0;
}

.section-progress-bar .radio {
  display: none;
}



/*----------------------------------*/
/*  FORM */
/*----------------------------------*/
.main-form{
    position: relative;
    width: 60%;
    left: 20%;
}


.submitButton{
    padding: 10px 22px;
    text-decoration: none;
    font-weight: 300;
    background-color: #1B9CFC;
    color: #fff;
    border-radius: 200px;
    border: 1px solid #1B9CFC;
    text-align: center;
    transition: border 0.3s, background-color 0.3s, color 0.3s;
    display: block;
    width: 20%;
    margin: 15px auto;
}

.submitButton:nth-of-type(2){
    background-color: #fff;
    color: #1B9CFC;
}
.main-form .submitButton:hover,
.main-form .submitButton:active{
    color: #fff;
    background-color: #0379d0;
    border: 1px solid #0379d0;
}
/*          P1          */

.p1{
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.p1 input{
    width: 100%;
    padding: 8px;
}


/*          P2          */

.p2 h3{
    margin-bottom: 25px;
}

.p2 .span-1-of-3{
    margin-top: 15px;
}

.p2 select{
    width: 40%;
    display: block;
    margin: 10px auto;
}
.p2 .priority3{
    margin-bottom: 20px;
}

.p2 .otherPriority{
    padding: 5px;
}
.p2 .row:nth-of-type(2){
    width: 80%;
    margin: 0 auto;
}

.p2 .row:nth-of-type(2) textarea{
    width: 100%;
}

/*          P3          */

.p3 h3{
    margin-bottom: 25px;
}

.p3 select{
    display: block;
    width: 35%;
    margin: 10px auto;
}

.p3 .softwares3{
    margin-bottom: 20px;
}


/*        p4         */

.p4 h3{
    font-size: 150%;
    margin-bottom: 10px;
}
.p4 p{
    font-size: 110%;
    text-align: center;
    margin-bottom: 25px;
}

.labels{
    line-height: 38px;
}

/*----------------------------------*/
/*  FOOTER  */
/*----------------------------------*/


footer{
    padding: 40px 45px 30px 45px;
    background-color: #2c2c2c;
    font-size: 80%;
}

footer row{
}


.footer-nav{
    list-style: none;
    float: left;
    height: 29px;   /*SET FOR VERTICAL ALIGNMENT OF LINKS -1*/
}


.social-icons{
    list-style: none;
    float: right;
}


.footer-nav li{
    margin: 5px 0;   /*SET FOR VERTICAL ALIGNMENT OF LINKS -2*/
}

.footer-nav li,
.social-icons li{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}


.footer-nav li:last-child,
.social-icons li:last-child{
    margin-right: 0;
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; 
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-icons li a:hover,
.social-icons li a:active{
    color: #ddd;
}

footer p{
    color: #888;
    text-align: right;
    font-size: 110%;
    line-height: 150%;
}

.social-icons li a:link,
.social-icons li a:visited{
    font-size: 160%;
    
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram{
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ion-logo-facebook:hover{
    color: #3b5998;
}

.ion-logo-twitter:hover{
    color: #00aced;
}

.ion-logo-googleplus:hover{
    color: #dd4b39;
}

.ion-logo-instagram:hover{
    color: #fb3958;
}




/*----------------------------------*/
/*  ANIMATIONS */
/*----------------------------------*/

.js--wp-1{
    opacity: 0;
}
.js--wp-1.animated{
    opacity: 1;
}