/*  BASE COLOUR: #1b9cfc  */
/*  BASE COLOUR-DARK: #0379d0  */
/*  BASE COLOUR-LIGHT: #90cffe  */


/*----------------------------------*/
/*  BASIC SETUP */
/*----------------------------------*/


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html{
    background-color: #fff;
    color: #333;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    word-spacing: 2px;
    line-height: 1.3;
}

p{
    font-weight: 300;
}

/*----------------------------------*/
/*  REUSABLE COMPONENTS */
/*----------------------------------*/



.row{
    max-width: 1024px;
    margin: 0 auto;
}

.section{
    margin-top: 70px;
    margin-bottom: 60px;
}


/*----------------------------------*/
/*  HEADINGS */
/*----------------------------------*/


h1{
    margin: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h2{
    text-align: center;
    font-weight: 300;
    font-size: 180%;
    margin: 10px 5%;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
}

h3{
    font-weight: 300;
    font-size: 130%;
    text-align: center;
}


/*----------------------------------*/
/*  HEADER */
/*----------------------------------*/


header{
    height: 100vh;
    position: relative;
    background-color: #000;
}

.hero-text-box{
    position: absolute;
    width 1240px;
    top: 45%;
    left: 12%;
}

.hero-text {
    position: relative;
    z-index: 0;
    width: 100%;
    display: none; 
}

.banner-container{
    height: 100vh;
}


header nav{
    position: relative;
    z-index: 100;
    height: 0px;
    overflow-y: visible;
    opacity: 1;
}

.banners{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

header h3{
    margin-bottom: 40px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 300%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.test{
  position: absolute;
  top: 0%;
  color: white;
  font-size: 300%;
  border-radius: 0 3px 3px 0;

}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #90cffe;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.dots{
    text-align: center;
    margin-top: -100px;
    position: relative; 
    z-index: 90;
    background-color: rgba(0, 0, 0, 0);
}

.active, .dot:hover {
  background-color: #0379d0;
}

header  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1 }
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1 }
}


/*----------------------------------*/
/*  BUTTONS */
/*----------------------------------*/


.btn:visited,
input[type=submit],
.btn:link{
    display: inline-block;
    margin: 20px 40px 0 0px;
    padding: 10px 22px;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    border-radius: 200px;
    border: 1px solid #1B9CFC;
    text-align: center;
    -webkit-transition: border 0.3s, background-color 0.3s, color 0.3s;
    transition: border 0.3s, background-color 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #1B9CFC;
    
}
.btn-learn:link,
.btn-learn:visited{
    color: #1b9cfc;
    margin: 0;
}

input[type=submit]:hover,
input[type=submit]:active,
.btn-full:hover,
.btn-full:active{
    color: #fff;
    background-color: #0379d0;
    border: 1px solid #0379d0;
}


.btn-ghost:hover,
.btn-ghost:active{
    color: #fff;
    background-color: #0379d0;
    border: 1px solid #0379d0;
    
}






/*----------------------------------*/
/*  MAIN-NAVIGATION */
/*----------------------------------*/

.logo{
    margin-top: 20px;
    margin-left: 20px;
    height: 100px;
    width: auto;
    float: left;
}


.main-nav{
    float: right;
    list-style: none;
    margin-top: 33px;
    margin-right: 20px;
}
.main-nav li{
    display: inline-block;
    margin: 15px 0 0 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}


.main-nav li a:hover,
.main-nav li a:active{
    
    border-bottom: 2px solid #1B9CFC;
}

/*Mobile nav*/
.mobile-nav-icon{
    float: right;
    margin: 30px;
    cursor: pointer;
    display: none;
}
.mobile-nav-icon i{
    font-size: 280%;
    color: white;
}



.sticky-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255,0.98);
    height: auto;
    box-shadow: 0 2px 2px #efefef;
    z-index: 100;
    transition: 0.75s ease-in-out;
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited{
    color: #555;
    padding: 16px 0;
}

.logo-black{
    margin: 10px 10px;
    height: 50px;
    width: auto;
    float: left;
    display: none;
}

.sticky-nav .logo-black{
    display: block;
}
.sticky-nav .logo{
    display: none;
}

.sticky-nav .main-nav{
    padding-top: 0;
    margin-top: 23px;
}

.sticky-nav .main-nav li{
    margin-top: 0;
}


.ion-ios-close{
    margin-right: 8px;
}

/*----------------------------------*/
/*  MISSION */
/*----------------------------------*/




.section-mission{
    text-align: center;
}

.section-mission h3{
    line-height: 145%;
    font-size: 140%;
}


/*----------------------------------*/
/*  WHY US */
/*----------------------------------*/

.section-why-us{
    padding: 60px 0;
    background-color: #fcfcfc;
}

.section-why-us row{
    width: 100%;
}

.section-why-us h3{
    margin: 0 5% 20px 5%;
    font-weight: 300;
}

hr{
    border: 0;
    width: 30%;
    height: 2px;
    margin: 20px auto 25px auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(27, 156, 252, 0)), color-stop(rgb(27, 156, 252, 0.75)), to(rgb(27, 156, 252, 0)));
    background-image: linear-gradient(to right, rgb(27, 156, 252, 0), rgb(27, 156, 252, 0.75), rgb(27, 156, 252, 0));
}

.section-why-us p{
    font-size: 110%;
    line-height: 145%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}



/*----------------------------------*/
/*  PHOTO GRID */
/*----------------------------------*/

 
.section-grid{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: auto;
    overflow: auto;
}
.showcase{
    list-style: none;
    width: 100%;
}

.showcase li{
    display: block;
    float: left;
    width: 25%;
}

.showcase-photo{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}


.showcase-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}



.showcase-photo img:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

/*----------------------------------*/
/*  FACILITIES */
/*----------------------------------*/


.section-facilities div{
    padding: 5px;
}


.section-facilities h3{
    text-align: left;
    font-size: 114%;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 1.15;
}

.section-facilities p{
    line-height: 145%;
    word-spacing: 2px;
}


.learn-more{
    font-size: 130%;
    margin-top: 20px;
    font-weight: 300;
    text-align: center;
    word-spacing: 2px;
    padding-bottom: 0;
}

.learn-row{
    margin: 15px auto 70px auto;
    text-align: center;
}


/*----------------------------------*/
/*  ICONS */
/*----------------------------------*/

.icon-big{
    font-size: 350%;
    display: block;
    color: #1b9cfc;
    margin-bottom: 10px;
}



/*----------------------------------*/
/*  TESTIMONIALS */
/*----------------------------------*/

.section-testimonials{
    padding: 70px 30px;
    height: 480px;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.65)),to(rgba(0, 0, 0, 0.65))), url(img/testimonials-banner.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url(img/testimonials-banner.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    
}

blockquote{
    margin-top: 60px;
    padding: 2%;
    font-style: italic;
    position: relative;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before{
    content: "\201C";
    position: absolute;
    display: block;
    top: -40%;
    left: -3px;
    font-size: 500%;
    line-height: 145%;
}





/*----------------------------------*/
/*  CONTACT */
/*----------------------------------*/

.contact-form{
    width: 60%;
    margin: 25px auto 0 auto;
}


input[type=text],
input[type=email],
select{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=submit]{
    width: 125px;
    margin-top: 25px;
}

.otherFind{
    margin-top: 12px;
}

*:focus {
    outline: none;
}




/*----------------------------------*/
/*  footer */
/*----------------------------------*/


footer{
    padding: 40px 45px 30px 45px;
    background-color: #2c2c2c;
    font-size: 80%;
}

footer row{
}


.footer-nav{
    list-style: none;
    float: left;
    height: 29px;   /*SET FOR VERTICAL ALIGNMENT OF LINKS -1*/
}


.social-icons{
    list-style: none;
    float: right;
}


.footer-nav li{
    margin: 5px 0;   /*SET FOR VERTICAL ALIGNMENT OF LINKS -2*/
}

.footer-nav li,
.social-icons li{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}


.footer-nav li:last-child,
.social-icons li:last-child{
    margin-right: 0;
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; 
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-icons li a:hover,
.social-icons li a:active{
    color: #ddd;
}

footer p{
    color: #888;
    text-align: center;
    font-size: 110%;
    margin-top: 15px;
    line-height: 150%;
}

.social-icons li a:link,
.social-icons li a:visited{
    font-size: 160%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-isntagram{
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ion-logo-facebook:hover{
    color: #3b5998;
}

.ion-logo-twitter:hover{
    color: #00aced;
}

.ion-logo-googleplus:hover{
    color: #dd4b39;
}

.ion-logo-instagram:hover{
    color: #fb3958;
}




/*----------------------------------*/
/*  ANIMATIONS */
/*----------------------------------*/

.js--wp-1{
    opacity: 0;
}
.js--wp-1.animated{
    opacity: 1;
}